@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Support Intelisense System</h1>




    <div class="container align-content-center">

        <div class="content badge">
            <div class="row">

            </div>


        </div>



    </div>
    <p>Developed By <a href="#">Omar Ibn Ayub</a>.</p>
</div>
