@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Application is a soul property of Serac Technologies Inc</p>
<p>For Support</p>
<p>Call :0331-6106096 </p>
<p>Email:support@seractechnologies.com</p>
